name: Compile

on:
  [ push, pull_request ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-with-qbs:
    name: Ubuntu (Qbs)
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        max-size: 100M

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install qtbase5-dev qtdeclarative5-dev qtdeclarative5-private-dev qbs

    - name: Setup Qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs config defaultProfile x86_64-linux-gnu-gcc-14

    - name: Build
      run: |
        qbs build modules.cpp.compilerWrapper:ccache

  build-with-cmake-qt5:
    name: Ubuntu (CMake Qt5)
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        max-size: 100M

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install qtbase5-dev qtdeclarative5-dev qtdeclarative5-private-dev cmake

    - name: Setup CMake
      run: |
        cmake -B ${{github.workspace}}/build -DUSE_QT6=OFF -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: |
        cmake --build ${{github.workspace}}/build --config Release


  build-with-cmake-qt6:
    name: Ubuntu (CMake Qt6)
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        max-size: 100M

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install qt6-base-dev qt6-declarative-dev qt6-declarative-private-dev cmake libgl1-mesa-dev

    - name: Setup CMake
      run: |
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: |
        cmake --build ${{github.workspace}}/build --config Release

  build-macos-cmake-qt5:
    name: macOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.5.3'
        host: 'mac'
        target: 'desktop'
        dir: '${{github.workspace}}/qt/'
        install-deps: 'true'

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_PREFIX_PATH="${{env.Qt5_Dir}}" -DQt5_DIR=${{env.Qt5_Dir}}/lib/cmake/Qt5/ -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      
  build-windows-cmake-qt5:
    name: Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        dir: '${{github.workspace}}/qt/'
        install-deps: 'true'

    - name: Configure CMake
      env:
        CMAKE_PREFIX_PATH: ${{env.Qt5_Dir}}
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G "MinGW Makefiles"

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
